// top margin for sidebar
.blog, .single {
  .widget-area {
    margin-top: 2rem;
  }
}
.archive {
  .widget-area {
    margin-top: 5.25rem;
  }
}
.page-template {
  .widget-area {
    margin-top: 2rem;
  }
}

.widget-area {
  background-color: $sidebar-bg;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  
  .widget:first-child {
    border-top: none;
    box-shadow: none;
  }
}

.widget {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: $box-shadow;
  border-top: $border-top;
  width: 100%;
  display: inline-block;

  .widget-title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    color: $secondary;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      margin-left: 1.25rem;
      margin-bottom: 0.25rem;
    }
  }

  
}