// Theme variables

$primary: #232529;// Testing variable for theme
$secondary: #FFA368;
$body-bg: #FAFEF9;

// Text
$text-color: #232529;
$heading-color: #3a3a3a;
$heading-des-color: #535353;
// Menu
$menu-color: #232529;
$menu-hover: #FFA368;
$menu-bg: #888;
$sub-menu-bg: #D9FED0;

$motto-border: #0048ff;

// Icon color
$icon-hover: #31FF00;

// work stage
$box-border-color: #232529;
$box-color: #31ff00;
$box-number-color: #cecece;

// contact
$contact-box-color: #97fe7f;
//about and faq page bg color
$info-bg:#71DA46;
$about-text:#333;
// footer
$footer-bg: #f6f6f6;
$widget-color: #2e4174;

// Shadow Line
$box-shadow: 0 -1px 0 #ccc;
$border-top: 1px solid #fff;
// Additional
$border-bottom: 1px solid #bdbdbd;

// Opacity
$opacity: 0.87;
$opacity-light: 0.54;
$opacity-thin: 0.34;
$no-opacity: 1;

// Font colors
$white: #fff;
$black: #111;
$grey: #6D6D6D;

// Post
$border-color: #ddd;

// Sidebar color
$sidebar-bg: #f3f3f3;

// Shadow Line
$box-shadow: 0 -1px 0 #ccc;
$border-top: 1px solid #fff;


// Shadows
$dp2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

$dp3: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);

$dp4: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);

$dp6: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

$dp8: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

$dp16: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

$dp24: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);